html, body, #root, #root>div {
	height: 100%;
}

body {
	font-family: sans-serif;
	font-size: 100%;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, th, header {
	font-family: sans-serif;
	font-size: 100%;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

nav.main-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #f06d06;
	color: #fff;
	height: 100%;
	width: 20%;
	min-width: 20%;
	box-shadow: 4px 0px 6px 2px rgba(0, 0, 0, 0.2);
}

nav.main-menu a {
	color: #fff;
	text-align: center;
	padding: 1em;
	font-size: 1.5em;
}

div.about-menu {
	width: 100%;
	list-style-type: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #f06d06;
}

div.about-menu>li {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

div.about-menu>li>a {
	display: block;
	width: calc(100% - 1em);
	text-align: center;
	text-decoration: none;
	color: ghostwhite;
	padding: .5em;
}

ul.breadcrumbs {
	list-style-type: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

ul.breadcrumbs>li a {
	color: cornflowerblue;
}

ul.breadcrumbs>li:not(:last-of-type):after {
	content: ">";
	padding: 0 .5em;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

div.page {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 100%;
}

section>div:not(.about-menu, .whoops-404), section>section {
	margin: 1em;
}

section.colorapp {
	width: 100%;
	background: #fff;
	margin-left: 10px;
}

section.events, section.contact {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	margin: 1em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
}

section.events h1, section.products h1, section.contact h1 {
	font-size: 3em;
	color: slategray;
}

section.about {
	margin-left: 10px;
	width: 100%;
	background: #fff;
}

div.home {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

div.home h1 {
	font-size: 3em;
	color: #fff;
}

div.home>div {
	background-color: #fff;
	padding: 1em;
	border-top: dashed .5em #f06d06;
	border-bottom: dashed .5em #f06d06;
	width: calc(100% - 2em);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

div.home>div a {
	font-size: 2em;
	color: #f06d06;
	-ms-flex-preferred-size: 200px;
	flex-basis: 200px;
}

section.about>section {
	padding: 2em;
}

div.whoops-404 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	margin: 0;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: darkred;
	color: ghostwhite;
	font-size: 1.5em;
}

div.whoops-404 a {
	color: white;
	text-decoration: underline;
	margin: 1em;
}

div.whoops-404 a:hover {
	color: yellow;
	text-decoration: none;
}

.color-details {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.color-details h1 {
	color: white;
	text-shadow: 2px 2px 7px black;
	font-size: 2em;
	margin: .5em;
}